<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="bloques/head :: head(title='Kplan - Administración')"></head>

<body id="body" class="body-wrapper boxed-menu">

  <div class="main-wrapper">
    <!-- HEADER -->
    <header th:replace="fragments :: navbaradmon"></header>

    <section class="bg-light pt-5 height100vh">
      <div class="container">
        <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-5" aria-label="breadcrumb">
          <h2 class="fw-normal mb-4 mb-md-0">Anunciantes</h2>
          <ul class="list-unstyled d-flex p-0 m-0">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/administracion}">Administración</a></li>
            <li class="breadcrumb-item active">Anunciantes</li>
          </ul>
        </nav>

        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
            <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
            <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
          </div>
        </div>

        <!-- List items goes here -->
        <div class="row">
          <table class="table">
            <tr class="table">
              <th>id</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Nonbre del Local</th>
              <th>Descripción</th>
              <th>Nº Eventos publicados</th>
              <th>Acciones</th>
            </tr>
            <tr th:each="anunciante : ${anunciantes}" class="list-unstyled mb-0">
              <td th:text="${anunciante.id}"></td>
              <td th:text="${anunciante.nombre}"></td>
              <td th:text="${anunciante.apellidos}"></td>
              <td th:text="${anunciante.email}"></td>
              <td th:text="${anunciante.telefono}"></td>
              <td th:text="${anunciante.nombreLocal}"></td>
              <td th:text="${anunciante.descripcion}"></td>
              <td th:text="${anunciante.numEventos}"></td>
              <td class="btn-group" role="group">
                <button type="button" class="btn btn-warning"
                  th:href="@{/administracion/anunciantes/editar/} + ${anunciante.id}">Editar</button>
                <button type="button" class="btn btn-danger"
                  th:href="@{/administracion/anunciantes/eliminar/} + ${anunciante.id}" onclick="return confirm('Estas seguro que quieres eliminar?');">Eliminar</button>
              </td>


          </table>
        </div>



        <!-- ====================================
———	pagination
===================================== -->

        <section class="my-5" th:if="${totalPages > 1}">
          <div class="row col-sm-10">
            <div class="col-sm-2">
              Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
              <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}"
                  th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
              </span>
            </div>
            <div class="col-sm-1">
              <a th:if="${currentPage < totalPages}"
                th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Siguiente</a>
              <span th:unless="${currentPage < totalPages}">Siguiente</span>
            </div>

            <div class="col-sm-1">
              <a th:if="${currentPage < totalPages}"
                th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Anterior</a>
              <span th:unless="${currentPage < totalPages}">Anterior</span>
            </div>
          </div>
        </section>
      </div>
    </section>

  <th:block th:include="bloques/general_scripts :: gralscript" />

  <th:block th:include="bloques/custom_scripts :: customscripts" />
</body>

</html>