<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="bloques/head :: head(title='Kplan - Perfil')"></head>

<body id="body" class="body-wrapper boxed-menu">

    <!-- HEADER -->
    <header th:replace="bloques/cabecera :: cabecera"></header>

    <div class="main-wrapper">


        <!-- ====================================
    ———	MY PROFILE
    ===================================== -->
        <section class="bg-light py-5 height100vh">
            <div class="container">
                <nav class="bg-transparent breadcrumb breadcrumb-2 py-4" aria-label="breadcrumb">
                    <h2 class="fw-normal mb-4 mb-md-0">Perfil</h2>
                </nav>
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="card card-profile" sec:authorize="hasRole('ROLE_ANUNCIANTE')">
                            <a class="btn btn-primary" th:href="@{/eventos/addevent}" >Crear evento</a>
                        </div>
                        <div class="card card-profile">
                            <div class="card-profile-img py-6">
                                <img class="rounded-circle lazyestload" data-src="./img/user/user-2.jpg"
                                    src="./img/user/user-2.jpg" alt="Image">
                            </div>
                            <form class="px-6">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                    <label class="custom-file-label" for="customFileLang">Cargar foto</label>
                                </div>
                            </form>

                            <hr>


                        </div>

                    </div>

                    <div class="col-md-7 col-lg-8">

                        <form class="pb-7">
                            <div class="card">
                                <div class="card-body p-6">
                                    <h3 class="fw-normal mb-4">Sobre ti</h3>

                                    <div class="row">
                                        <tr th:each="usu : ${datosUsuario}">
                                            <div class="form-group col-md-6 mb-6">
                                                <label class="form-label">Nombre</label>
                                                <input th:value="${usu.nombre}" type="text" class="form-control"
                                                    id="firstNameProfile" disabled>
                                            </div>
                                            <div class="form-group col-md-6 mb-6">
                                                <label class="form-label">Apellido</label>
                                                <input th:value="${usu.apellidos}" type="text" class="form-control"
                                                    id="lastNameProfile" disabled>
                                            </div>
                                            <div class="form-group col-md-6 mb-6">
                                                <label class="form-label">Email</label>
                                                <input th:value="${usu.email}" type="email" class="form-control"
                                                    disabled>
                                            </div>
                                            <div class="form-group col-md-6 mb-6">
                                                <label class="form-label">Telefono</label>
                                                <input th:value="${usu.telefono}" type="number" class="form-control"
                                                    disabled>
                                            </div>
                                            <div class="mt-4">
                                                <button class="btn btn-primary text-uppercase"
                                                    th:text="'MODIFICAR DATOS'" th:href="modificar-profile-user.html">
                                                </button>
                                            </div>

                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body p-6">
                                    <h3 class="fw-normal mb-4">Mis eventos</h3>

                                    <div class="mt-4">
                                        <button class="btn btn-primary text-uppercase" type="button">
                                            Lista de eventos
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>

                        <form>
                            <div class="card">
                                <div class="card-body p-6">
                                    <h3 class="fw-normal mb-4">Cargar contraseña</h3>
                                    <div class="row">

                                        <div class="form-group col-12">
                                            <label class="form-label" for="currentPassword">Contraseña actual</label>
                                            <input type="password" class="form-control" placeholder="********"
                                                autocomplete="current-password">
                                        </div>
                                        <div class="form-group col-12">
                                            <label class="form-label" for="newPassword">Nueva contraseña</label>
                                            <input type="password" class="form-control" placeholder="New Password"
                                                autocomplete="new-password">
                                        </div>
                                        <div class="form-group col-12">
                                            <label class="form-label" for="confirmPassword">Confrimar contraseña</label>
                                            <input type="password" class="form-control" placeholder="Confirm Password"
                                                autocomplete="new-password">
                                        </div>
                                        <div class="form-group col-12 mt-4">
                                            <button class="btn btn-outline-primary" type="button">Cambiar
                                                contraseña</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>

        <script>
            // Date object
            var today = new Date();

            // Current Date
            var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();

            document.getElementById("current_date").innerHTML = date;
        </script>



    </div> <!-- element wrapper ends -->

    <!-- footer -->
    <footer th:replace="bloques/pie :: pie"></footer>

    <!-- JAVASCRIPTS -->
    <th:block th:include="bloques/general_scripts :: gralscript" />

    <th:block th:include="bloques/custom_scripts :: customscripts" />
</body>

</html>