<!doctype html>
<html lang="es_ES" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="gralscript">
    <!-- JAVASCRIPTS -->
    <script th:src='@{plugins/jquery/jquery-3.4.1.min.js}'></script>
    <script th:src='@{plugins/bootstrap/js/bootstrap.bundle.js}'></script>
    <script th:src='@{plugins/menuzord/js/menuzord.js}'></script>
    <script th:src='@{plugins/selectric/jquery.selectric.min.js}'></script>
    <script th:src='@{plugins/smoothscroll/SmoothScroll.js}'></script>
    <script th:src='@{plugins/lazyestload/lazyestload.js}'></script>
    <script th:src='@{js/listty.js}'></script>
</div>


</html>